
<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="['/bibliotecaria']" >Bibliotecarias</a>
  <a mat-menu-item [routerLink]="['/emprestimo']" >Empréstimos</a>
  <a mat-menu-item [routerLink]="['/autor']" >Autor</a>
  <a mat-menu-item [routerLink]="['/estudante']" >Estudantes</a>
  <a mat-menu-item [routerLink]="['/obra']" >Obras</a>
  <a mat-menu-item [routerLink]="['/prateleira']" >Prateleira</a>
</mat-menu>
