<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

	<mat-form-field>
		<mat-label>Nome</mat-label>
		<input matInput placeholder="Informe o nome da Bibliotecaria"
      [(ngModel)]="bibliotecaria.nome" name="nome" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Telefone</mat-label>
		<input matInput placeholder="Informe o Telefone"
      [(ngModel)]="bibliotecaria.telefone" name="telefone" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Endereço</mat-label>
		<input matInput placeholder="Informe o Endereço"
      [(ngModel)]="bibliotecaria.endereco" name="endereco" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>CPF</mat-label>
		<input matInput placeholder="Informe o CPF"
      [(ngModel)]="bibliotecaria.cpf" name="cpf" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Data de nascimento</mat-label>
		<input matInput placeholder="Informe a data de nascimento"
      [(ngModel)]="bibliotecaria.data_nascimento" name="data" required>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>
